#!/bin/sh -
[Unit]
Description=ring-mqtt
After=network.target

[Service]
ExecStart=/usr/bin/node /opt/ring-mqtt/ring-mqtt.js
Restart=always
User=root
Group=root
Environment=PATH=/usr/bin/
Environment=NODE_ENV=production
Environment=DEBUG=ring-mqtt
StandardOutput=file:/var/log/ring-mqtt.log
StandardError=file:/var/log/ring-mqtt.log
WorkingDirectory=/opt/ring-mqtt

[Install]
WantedBy=multi-user.target
Alias=ring-mqtt.service
